.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.from,
.to,
.count {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 3%;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 5%;
  border: 0.1px solid lightgray;
  border-radius: 1em;
  background-color: var(--white);
  min-height: 5em;
}

.option {
  list-style: none;
  cursor: pointer;
}

.option:hover {
  background-color: var(--green);
  color: var(--white);
}

@media (max-width: 600px) {
  .table {
    display: flex;
    flex-direction: column;
  }
}
