.section {
  display: flex;
  flex-direction: column;
  padding: 1% 2%;
}

.section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  margin-bottom: 2%;
}

.titleSection h1 {
  font-size: 2em;
  text-align: center;
}

.section1 h1 {
  font-size: 2.5em;
}

strong {
  color: var(--green);
}

.section1 p {
  font-size: 1.5em;
}

.imageTitle {
  width: auto;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 2%;
  gap: 2em;
  margin-bottom: 2%;
}

.article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.imageArticle {
  width: 50%;
  height: auto;
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1% 2%;
  gap: 2em;
  margin-bottom: 2%;
}

.slide {
  background-color: none;
  border-radius: 10%;
  align-items: center;
}

.carousel {
  text-align: center;
}

@media (max-width: 600px) {
  .section1 {
    flex-direction: column;
  }

  .titleSection h1 {
    font-size: 1.8em;
  }

  .article {
    display: flex;
    flex-direction: column;
  }
}
