@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --green: #008000;
  --black: #000;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1% 10%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0 100%),
    url("/image/bg.png");
  background-size: contain;
}

@media (max-width: 600px) {
  main {
    padding: 1% 5%;
    background-size: auto;
  }
}
