.footer {
  background-color: rgb(220, 240, 220);
  width: 100%;
  padding: 1% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer strong {
  color: var(--green);
  font-size: 1.2em;
}

.icon {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    gap: 1em;
  }
}
